<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.busbrothers.anystop.agencytoken"
      android:versionCode="22"
      android:versionName="3.4.2"
      android:installLocation="auto">
      
    <uses-permission android:name="android.permission.INTERNET"></uses-permission> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> <!-- Used by Google AdMob ads -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> <!-- Used by Addience ads -->   
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- Used by Millennial ads -->   
    <uses-sdk android:minSdkVersion="3" />
    
    <!-- Added so that resizing can be supported for different resolution screens -->
	<supports-screens android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"
		/>

    <application android:icon="@drawable/title" android:label="@string/app_name">
        
    	<uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".activities.StopsTime"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.StopList"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            	<action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define StopList as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.StopList" />
        </activity>
        
        <activity android:name=".activities.StopDrill"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define StopDrill as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.StopDrill" />
        </activity>
        
        <activity android:name=".activities.RouteList"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
             <!-- Note that we define RouteList as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.RouteList" />
        </activity>
        
        <activity android:name=".activities.RouteDrill"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define RouteDrill as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.RouteDrill" />
        </activity>
        
		<activity android:name=".activities.AgencyList"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
        <activity android:name=".activities.AgencyRouteList"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define AgencyRouteList as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.AgencyRouteList" />
            
        </activity>
           
        <activity android:name=".activities.FavStops"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            	<action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define FavStops as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.FavStops" />
        </activity>
        
        <activity android:name=".activities.FavRoutes"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            	<action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define FavStops as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.FavRoutes" />
        </activity>
        
        <activity android:name=".activities.EditPrefs" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
        
        <activity android:name=".map.StopMap" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".map.ChooseMap" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".activities.AgencyRouteDrill" android:label="@string/app_name" 
		    android:configChanges="orientation|keyboardHidden|screenSize"
		    android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- Note that we define AgencyRouteDrill as a Searchable, and also as a target for Searches -->
            <meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            <meta-data android:name="android.app.default_searchable"
                android:value=".activities.AgencyRouteDrill" />
		</activity>
		
		<!-- Added to support AdMob ads -->
		<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		
		<!-- Added to support Addience ad mediation -->
		<meta-data android:name="com.sensenetworks.apikey" android:value="@string/BBaddienceAPIK" />
		
		<!-- Millennial REQUIRED Activities -->
		<activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		<activity android:name="com.millennialmedia.android.VideoPlayer"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="keyboard|keyboardHidden|orientation"/>
		
		<!-- MdotM REQUIRED Activities -->
		<activity android:name="com.mdotm.android.ads.MdotmLandingPage"
			android:label="@string/app_name">
			<intent-filter>
			<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>	
 
    </application>
    
</manifest> 
